<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

<style>
    table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
</style>
    <h1>All Users</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Created_at</th>
        </tr>
        <!-- This is where the Jina2 syntax will live -->
       {% for user in all_users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at.strftime("%b %d %Y") }}</td>
            </tr>
        {% endfor %}
    </table>
    <a href="/users/new">Create User!</a>
</body>
</html>